<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-app>
		<div ng-controller="commen">
			<div ng-controller="contro1">
				<p>div1</p>
				<button ng-click="show1();">button1</button>
			</div>
			<div ng-controller="contro2">
				<p>div2</p>
				<button ng-click="show2();">button2</button>
			</div>
			<button ng-click="show3();">button3</button>
		</div>
	</body>
	<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/angularjs_MVC.js" type="text/javascript" charset="utf-8"></script>
</html>
