<!DOCTYPE html>
	<head>
<html ng-app>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div>
			<div ng-controller="eventController">
				root event
				<tt>myEvent</tt>count:{{count}}
				<ul>
					<li ng-repeat="i in [1]" ng-controller="eventController">
						<button ng-click="$emit('myevent')">
							$emit('myevent')
						</button>
						<button ng-click="$broadcast('myevent')">
							$broadcast('myevent')
						</button>
						<br />
						middle scope
						<tt>myevent</tt> conut:{{count}}
						<ul>
							<li ng-repeat="item in [1, 2]" ng-controller="eventController"> 
								leaf event
								<tt>myevent</tt>count:{{count}}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/demo.js" type="text/javascript" charset="utf-8"></script>
</html>
